.Medicine {
  margin: 20px auto;
}
.med-table {
  margin-top: 40px;
}
.med-option {
  display: flex;
  justify-content: flex-end;
  margin: 5px 60px;
}
.med-head {
  display: inline-block;
  margin-right: 1238px;
}
.add-medicine {
  box-shadow: 20px 0px 50px grey;
  padding: 42px 64px;
  position: absolute;
  left: 600px;
  right: 520px;
  z-index: 10;
  background-color: white;
  /* display: none; */
}
.form-input {
  padding: 8px 90px;
  padding-left: 13px;
  padding-right: 181px;
}
.fas {
  font-weight: 900;
  font-size: 28px;
  display: block;
  position: absolute;
  top: 12px;
  right: 20px;
}
.fas:hover {
  color: red;
}
.medicine__searchbar {
  display: inline-block;
  position: absolute;
  left: 400px;
  padding: 10px 60px;
  padding-right: 120px;
  padding-left: 10px;
  border-radius: 18px;
  border: none;
}
.medicine__searchbar:hover {
  border: none;
  color: black;
}
