.form-input {
  padding: 10px 150px;
  margin: 20px;
  padding-right: 300px;
  padding-left: 10px;
}

.form-input-label {
  display: block;
  margin-right: 400px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: -10px;
  margin-left: 110px;
}
